body {
  background-color: #5d59a5;
}

.fondo1 {
  background-color: #a4c5e9;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 0;
}
.titulo-grande {
  color: #5d59a5;
  text-align: center;
  text-shadow: 3px -3px 2px white
}

.fondo-texto {
  background-color: #ffffff;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 0;
}

.fondo-texto img {
  float:left;
  width: 200px;
}

.fondo-texto:after {
  display:table;
  clear:both;
  content: "";
}

.globo {
  padding: 2em;
  margin: 1em;
}

.globo1 {
  position:relative;
  background-color: #f28226;
  width: 80%;
  left: 2em;
  color: white;
  border: thick dashed white;
}

.container-verde {
  padding: 0 3em;
}

.globo2 {
  background-image: url("verde.png");
  border-radius: 1em;
}

.globo3 {
  position: relative;
  background-color: #b45421;
  widht: 80%;
  left: 2em;
  color: white;
}

.globo4 {
  background-image: url("verde.png");
}

.globo5 {
  position: relative;
  background-color: #f28226;
  width: 80%;
  left: 2em;
  color: white;
  border: thick dashed white;
}

.globo6 {
  background-image: url("verde.png");
  border-radius: 1em;
}

.globo7 {
  position: relative;
  background-color: #b45421;
  widht: 80%;
  left: 2em;
  color: white;
}

.globo8 {
  background-image: url("verde.png");
  border-radius: 1em;
}

.globo9 {
  position: relative;
  background-color: #f28226;
  width: 80%;
  left: 2em;
  color: white;
  border: thick dashed white;
}
